.aider*
/100
/1
/200
/110
*tar
__pycache__
.ipynb_checkpoints
exports/
usage/*.bbl
usage/*.dvi
usage/*.tex
usage/*.pdf
.auctex-auto
freezing_temperatures*
inner_circles*
.env
.gui_selection_cache.json
